h1, h2, h3, h4, h5, h6 {
  clear: both;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  clear: both;
  font-family: $font__main;
  font-weight: 600;
  letter-spacing: 1px;
  color: $color__company-primary;
}

h1, .h1 {
  font-size: 3rem;
  @media (min-width: 996px) {
    font-size: 4rem;
  }
}

h2, .h2 {
  font-size: 2.4rem;
  margin-bottom: 1.9rem;
  @media (min-width: 996px) {
    font-size: 3.8rem;
  }
}

h3, .h3 {
  font-size: 2.1rem;
  @media (min-width: 996px) {
    font-size: 2.6rem;
  }
}

h4, .h4 {
  font-size: 2rem;
}


p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

@media all and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.7rem;
  }
}