.archive {
  //padding: 50px 0;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (min-width: 992px) {
    }
  }

  &__item {
    border-radius: 10px;
    flex-basis: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      flex-basis: 45%;
      margin-right: 20px;
    }
    @media (min-width: 992px) {
      margin-right: 10px;
      flex-basis: 33%;
    }
    @media (min-width: 1200px) {
      flex-basis: 24%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 55px;
    height: 55px;

    img {
      width: 100%;
      height: 100%;
      padding: 0 10px 0 0;
      object-fit: contain;
    }
  }

  &__img {
    background-image: linear-gradient(to right, $color__company-primary 0%, $color__company-secondary 95%);
    width: 100%;
    min-width: 100%;
    height: 200px;
    min-height: 200px;
    @media (min-width: 768px) {
      height: 250px;
      min-height: 250px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-wrapper {
    padding: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    // align-items: stretch;
  }

  &__btn {
    margin-top: 30px;
  }
}
