.division {
  margin-bottom: 50px;
  padding-top: 100px;
  background: linear-gradient(
                  0deg,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(187, 212, 205, 0.4) 50%
  );
  @media (min-width: 996px) {
    margin-bottom: 100px;
    padding-top: 150px;
    &--project{
      margin-bottom: 50px;
      padding-top: 50px;
    }
  }

  &__business {
    padding: 40px 20px 20px 40px;
    border-radius: 50px;
    background-color: rgba(187, 212, 205, 0.78);
    height: 100%;
    margin-bottom: 40px;
    opacity: 0;
    transition: all 1s cubic-bezier(0.8, 0.1, 0.8, 1);
    @media (min-width: 556px) {
      margin-bottom: 0;
    }

    @media (min-width: 996px) {
      padding: 50px 60px 70px;
    }

    img {
      width: 100%;
      object-fit: contain;
      margin-top: 50px;
      max-height: 150px;
      @media (min-width: 556px) {
        max-height: 100%;
      }
      @media (min-width: 996px) {
        width: 100%;
        margin-top: 0;
      }
      @media (min-width: 1240px) {
        width: 100%;
        margin-top: 0;
        //padding: 40px;

      }
    }
  }

  &__private {
    opacity: 0;
    padding: 40px 20px 20px 40px;
    border-radius: 50px;
    background-color: rgba(186, 204, 199, 0.37);
    height: 100%;
    transition: all 1s cubic-bezier(0.8, 0.1, 0.8, 1) 0.3s;
    @media (min-width: 996px) {
      padding: 50px 60px 70px;
    }

    img {
      width: 100%;
      object-fit: contain;
      margin-top: 50px;
      max-height: 150px;
      @media (min-width: 556px) {
        max-height: 100%;

      }
      @media (min-width: 996px) {
        width: 100%;
        margin-top: 0;
      }
      @media (min-width: 1240px) {
        width: 100%;
        margin-top: 0;
      }
    }

  }
}
