.newsletter {
  background-color: rgba(186, 204,199, 0.09);
  padding: 100px 0 70px;

  @media (min-width: 1200px) {
    padding: 100px 30px;
  }

  &__contact {
    margin-bottom: 50px;
    padding-left: 0px;

    @media (min-width: 576px) {
      padding-left: 0px;
      padding-right: 50px;
    }

    @media (min-width: 768px) {
      margin-bottom: 50px;
      padding-left: 0px;
      padding-right: 20px;
    }

    @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 20px;
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      padding-left: 0px;
      margin-left: -30px;
    }
    @media (min-width: 1440px) {
      padding-left: 5px;
      margin-left: 0px;
    }
    @media (min-width: 1600px) {
      padding-left: 0px;
      margin-left: 0px;
    }

    &--right {
      padding-left: 0px;
      padding-right: 0px;

      @media (min-width: 1200px) {
        padding-left: 0px;
        margin-right: -40px;
      }
      @media (min-width: 1440px) {
        padding-left: 0px;
        margin-right: -10px;
      }
      @media (min-width: 1600px) {
        padding-left: 0px;
        margin-right: 0px;
      }
    }
  }

  h3 {
    margin-bottom: 40px;
  }

  &__icons {
    display: flex;
    justify-content: center;

    &-item {
      background-color: white;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
      box-shadow: 0 0 13px 5px rgba(124, 153, 131, 0.11);

      @media (min-width: 576px) {
        margin-right: 20px;
      }
      &:hover {
        .contacts-block-small__icon {
          img {
            transform: scale(1.1);
            opacity: 0.5;
          }
        }
      }
      img {
        transition: all 0.35s ease-in-out;
        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }
  }

  &__input {
    position: relative;
    height: 80px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0;
      width: 80px;
      height: 80px;
      background-color: $color__company-primary;
      //background: rgb(4, 0, 61);
      //background: linear-gradient(
      //  90deg,
      //  rgba(4, 0, 61, 1) 0%,
      //  rgba(7, 0, 111, 1) 80%
      //);
      border-radius: 10px;
      z-index: 2;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &:before {
        background-color: $color__company-tertiary;
        //background: rgb(241, 90, 20);
        //background: linear-gradient(
        //  90deg,
        //  rgba(241, 90, 20, 1) 0%,
        //  rgba(240, 35, 23, 1) 80%
        //);
      }
      &:after {
        animation: BackgroundPositionLeftRight 1.3s 2;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 80px;
      text-align: center;
      height: 80px;
      background-image: url("/wp-content/themes/webcommitment-theme/img/right-arrow.svg");
      background-size: 40px;
      background-position: center;
      z-index: 2;
      background-repeat: no-repeat;
    }

    input {
      position: absolute;
      top: 0;
      padding: 25px 30px;
      border-radius: 10px;
      font-size: 1.4rem;
      border: none;
      font-weight: 600;
      box-shadow: 0 0 13px 5px rgba(124, 153, 131, 0.11);
    }
  }
}
