.sketch-content{
  &__inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:50px;
    flex-wrap: wrap;
    @media all and (min-width: 576px){
      flex-wrap: nowrap;
    }
  }

  &__image{
    flex:0 0 100%;
    margin-right: 0;
    @media all and (min-width: 576px){
      flex:0 0 40%;
      margin-right: 5%;
    }
    img{
      width:100%;
      height:100%;
      object-fit: contain;
    }
  }

  &__content{
    flex:0 0 100%;
    @media all and (min-width: 576px){
      flex:0 0 50%;
    }
    align-self: center;
  }

}
