ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

.entry-content, .list {
	ul {
		list-style-type: none;
		font-size: 1.4rem;
		padding-bottom: 30px;
		padding-left: 30px;

		li {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				;
				top: 5px;
				left: -45px;
				background-image: url('/wp-content/themes/webcommitment-theme/img/tick.svg');
				background-size: 20px 19px;
				background-repeat: no-repeat;
				background-position: top;
				width: 45px;
				height: 100%;
			}
		}
	}
}
