header#masthead {
  z-index: 4;

  .top-header {
    background-color: $color__light-gray;
    padding: 5px 0;
    z-index: 4;
    position: relative;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      @media (min-width: 648px) {
        justify-content: space-between;
      }

      @media (min-width: 1440px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .header-usps {
      display: none;

      @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
      }

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: FadeIn 0.5s both ease-in-out;

        &:not(:first-child) {
          margin-left: 25px;
        }
      }

      &__title {
        margin-left: 7px;
        font-size: 0.875rem; //14px
        line-height: 0.875rem;
        font-weight: bold;
        color: $color__text-main;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    @for $p from 1 through 10 {
      .header-usps__item:nth-child(#{$p}n) {
        animation-delay: #{$p * 0.05}s;
      }
    }

    .header-contacts {
      display: none;

      @media (min-width: 648px) {
        display: flex;
        flex-direction: row;
      }

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: FadeIn 0.5s both ease-in-out;

        &:not(:first-child) {
          margin-left: 25px;
        }

        &:hover {
          .header-contacts__icon {
            transform: scale(1.15);
          }

          .header-contacts__link {
            opacity: 0.7;
          }
        }
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.25s ease-in-out;

        img {
          width: 18px;
          height: 18px;
        }
      }

      &__link {
        margin-left: 7px;
        font-size: 0.875rem; //14px
        line-height: 0.875rem;
        font-weight: bold;
        color: $color__text-main;
        text-decoration: none;
        transition: opacity 0.25s ease-in-out;
      }
    }

    .header-socials {
      display: flex;
      flex-direction: row;

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: FadeIn 0.5s both ease-in-out;

        &:not(:first-child) {
          margin-left: 7px;
        }

        &:hover {
          .header-socials__icon {
            transform: scale(1.1);
          }

          .header-socials__link {
            opacity: 0.7;
          }
        }
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.25s ease-in-out;
        opacity: 1;
        img {
          //background-color: red;
          width: 16px;
          height: 16px;
        }
      }

      &__link {
        margin-left: 7px;
        font-size: 0.875rem; //14px
        line-height: 0.875rem;
        font-weight: bold;
        color: $color__text-main;
        transition: opacity 0.25s ease-in-out;
      }
    }
  }

  .lower-header {
    background-color: white;
    position: relative;
    padding: 40px 0;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      width: 0%;
      bottom: 0;
      background-color: lighten($color__company-primary, 85%);
      height: 1px;
      z-index: 4;
      transition: width 0.55s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-delay: 0.35s;
    }

    &.active {
      &:after {
        width: 100%;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 1440px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .logo-container {
      position: relative;
      max-width: 140px;
      height: auto;
      z-index: 4;

      img {
        border-radius: 10px;
        width: 100%;
        object-fit: contain;
      }

      &:after {
        position: absolute;
        pointer-events: none;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        animation: DisappearLeft 0.55s cubic-bezier(0.82, 0.01, 0.77, 0.78);
        opacity: 1;
      }
    }

    @media (min-width: 992px) {
      padding: 0;
    }

    // .custom-logo-link {

    //   width: 100%;
    //   height: 50px;
    //   display: block;
    // }
  }
}

.home {
  header#masthead {
    .lower-header {
      background-color: transparent;
    }
  }
}
